@model List<genealogy.business.Base.GENNews>
@using genealogy.business;
<table style="color: Black; font-size: 10pt;" class="table  table-striped">
    <tbody>
        <tr>
            <td>Mã danh mục
            </td>
            <td>Tên danh mục
            </td>
            <td>Mô tả ngắn
            </td>
            <td>Hiển thị</td>
            <td></td>
        </tr>
        @if (Model != null && Model.Count > 0)
        {
            int i = 0;
            foreach (genealogy.business.Base.GENNews item in Model)
            {

                string strID = item.NewsCategoryID + "Item";
            <tr id="@strID">
                <td>@Html.ActionLink(item.NewsID.ToString(), "NewsEdit", new { id = item.NewsID }, new { @class = "a" })</td>
                <td>
                    <a href="/cms/NewsEdit/@item.NewsID">
                        <img src="@DataHelper.GenThumnailNews(item)" width="120"/></a>
                </td>
                <td>
                    @Html.ActionLink(item.NewsTitle, "NewsEdit", new { id = item.NewsID }, new { @class = "a" })
                </td>
                <td>@Html.CheckBoxFor(model => item.IsActived, new { disabled = "disabled" })</td>
                <td></td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">Không tìm thấy kết quả theo yêu cầu của bạn</td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.page != null)
{
    <script type="text/javascript">
        var CurrentPage = @ViewBag.CurrentPage;
        createPagingReport(Math.ceil(parseInt('@ViewBag.page') / 10), 'pagingReport');    
    </script>
}