@model List<genealogy.business.Base.GENAlbums>
<table style="color: Black; font-size: 10pt;" class="table  table-striped">
    <tbody>
        <tr>
            <td>Mã Album
            </td>
            <td>Tên Album
            </td>
            <td>Hình ảnh
            </td>
            <td>Hiển thị</td>
            <td></td>
        </tr>
        @if (Model != null && Model.Count > 0)
        {
            foreach (genealogy.business.Base.GENAlbums item in Model)
            {

                string strID = item.AlbumID + "Item";
            <tr id="@strID">
                <td>@Html.ActionLink(item.AlbumID.ToString(), "AlbumEdit", new { id = item.AlbumID }, new { @class = "a" })</td>
                <td>
                    @Html.ActionLink(item.AlbumName, "AlbumEdit", new { id = item.AlbumID }, new { @class = "a" })
                </td>
                <td>
                    @item.AlbumImage
                </td>
                <td>@Html.CheckBoxFor(model => item.IsActived, new { disabled = "disabled" })</td>
                <td></td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">Không tìm thấy kết quả theo yêu cầu của bạn</td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.page != null)
{
    <script type="text/javascript">
        var CurrentPage = @ViewBag.CurrentPage;
        createPagingReport(Math.ceil(parseInt('@ViewBag.page') / 10), 'pagingReport');    
    </script>
}