@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

@model genealogy.Models.GenealogyUserModels
<link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.core.css")" media="screen" type="text/css" />
@*<link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.resizable.css")" media="screen" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.selectable.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.accordion.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.autocomplete.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.button.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.dialog.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.slider.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.tabs.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.datepicker.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.progressbar.css")" media="screen" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.theme.css")" media="screen" type="text/css" />*@
<link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.theme.css")" media="screen" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Content/themes/jquery-ui/jquery.ui.datepicker.css")" media="screen" type="text/css" />

<br />
<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#profileinfo">Thông tin thành viên</a></li>
    <li><a href="#profilerelation">Thông tin quan hệ</a></li>
</ul>
<form enctype="multipart/form-data" method="post">
    <div class="tab-content">

        <div class="tab-pane active" id="profileinfo">
            <table class="TableForm">
                <tbody>
                    <tr>
                        <td colspan="2">
                            @if (ViewBag.Result != null)
                            {
                                <div class="alert alert-success fade in">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    Cập nhật thành công
                                </div>
                            }

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    @Html.HiddenFor(model => model.UserId)
                                    <th>Họ tên đệm </th>
                                    <td>
                                        @Html.TextBoxFor(model => model.FirstName)
                                        @Html.ValidationMessage("FirstName")
                                    </td>
                                </tr>

                                <tr>
                                    <th>Ngày sinh</th>
                                    <td>
                                        @Html.TextBoxFor(model => model.Birthday)
                                        @Html.ValidationMessage("Birthday")
                                    </td>
                                </tr>

                                <tr>
                                    <th>Tỉnh/Thành phố sinh</th>
                                    <td>
                                        @Html.DropDownList("SelectProvinceBirth", ViewBag.SelectProvinceBirth as SelectList)
                                    </td>
                                </tr>

                                <tr>
                                    <th>Tỉnh/Thành phố đang sinh sống</th>
                                    <td>
                                        @Html.DropDownList("SelectProvinceCurrent", ViewBag.SelectProvinceCurrent as SelectList)
                                    </td>
                                </tr>

                                <tr>
                                    <th>Trạng thái hôn nhân</th>
                                    <td>
                                        <table>
                                            <tr>
                                                @{
                                                    string strcheckedsingle = string.Empty;
                                                    string strcheckedmarried = string.Empty;
                                                    if (Model.Status == 1)
                                                    {
                                                        strcheckedsingle = "checked='checked'";
                                                    }
                                                    else
                                                    {
                                                        strcheckedmarried = "checked='checked'";
                                                    }
                                                }
                                                <td>
                                                    <input type="radio" @strcheckedsingle id="single" name="status" value="1" />
                                                    Độc thân
                                                </td>
                                                <td>
                                                    <input type="radio" @strcheckedmarried id="married" name="status" value="0" />
                                                    Kết hôn
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Điện thoại</th>
                                    <td>
                                        @Html.TextBoxFor(model => model.Mobile, new { type = "tel" })
                                    </td>
                                </tr>

                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <th>Tên</th>
                                    <td>
                                        @Html.TextBoxFor(model => model.LastName)
                                        @Html.ValidationMessage("LastName")

                                    </td>
                                </tr>
                                <tr>
                                    <th>Nơi sinh</th>
                                    <td>
                                        @Html.TextBoxFor(model => model.BirthPlace)
                                        @Html.ValidationMessage("BirthPlace")
                                    </td>
                                </tr>
                                <tr>
                                    <th>Nơi đang sinh sống</th>
                                    <td>
                                        @Html.TextBoxFor(model => model.CurrentPlace)
                                    </td>
                                </tr>

                                <tr>
                                    <th>Ngày mất</th>
                                    <td>
                                        @Html.TextBoxFor(model => model.DeathDate)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Giới tính</th>
                                    <td>
                                        <table>
                                            <tr>
                                                @{
                                                    string strcheckedmale = string.Empty;
                                                    string strcheckedfemale = string.Empty;
                                                    if (Model.Gender == 1)
                                                    {
                                                        strcheckedmale = "checked='checked'";
                                                    }
                                                    else
                                                    {
                                                        strcheckedfemale = "checked='checked'";
                                                    }
                                                }
                                                <td>
                                                    <input type="radio" @strcheckedmale id="male" name="gender" class="left" value="1" />
                                                    Nam</td>
                                                <td>
                                                    <input type="radio" @strcheckedfemale id="female" name="gender" class="left" value="0" />
                                                    Nữ</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>
                                        @Html.TextBoxFor(model => model.Email, new { type = "email" })
                                        @Html.ValidationMessage("Email")
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>

                        <td colspan="4"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="profilerelation">
            <table class="TableForm">
                @if (!string.IsNullOrEmpty(ViewBag.ErrorText))
                {
                    <tr>
                        <td colspan="2">
                            <div class="alert alert-error fade in">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                @ViewBag.ErrorText
                            </div>
                        </td>
                    </tr>
                }
                else if (ViewBag.Result == 1)
                {
                    <tr>
                        <td colspan="2">
                            @if (ViewBag.Result != null)
                            {
                                <div class="alert alert-success fade in">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    Cập nhật thành công
                                </div>
                            }

                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="2">
                        <h3>Thêm mới mới quan hệ</h3>
                    </td>
                </tr>
                <tr>
                    <th>Họ tên người liên quan</th>
                    <td>
                        <input id="userrelation" name="userrelation" type="text" onkeyup="SuggestionUser();" autocomplete="off" />
                        <input id="userrelationid" name="userrelationid" type="hidden" />
                        <div id="suggestion"></div>
                    </td>
                </tr>
                <tr>
                    <th>Hình thức liên quan</th>
                    <td>@Html.DropDownList("SelectTypeRelation", ViewBag.SelectTypeRelation as SelectList)</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3>Danh sách người liên quan</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.Action("GetUserRelation", "Cms", new { UserId = Model.UserId })
                    </td>
                </tr>
            </table>
        </div>
        <p>
            <button class="btn btn-primary "><i class="icon-white icon-ok"></i>Cập nhật</button>
            <a href="/quan-tri/cms/UserList" class="btn btn-inverse"><i class="icon-white icon-remove"></i>Bỏ qua</a>
        </p>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Birthday').datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0",
            showOn: "both",
            buttonImage: "/Content/images/calendar.gif",
            buttonImageOnly: true
        })
        $('#DeathDate').datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-50:+0",
            showOn: "both",
            buttonImage: "/Content/images/calendar.gif",
            buttonImageOnly: true
        })
    })
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>

