@model genealogy.Models.NewsCategoryModels
@{
    ViewBag.Title = "NewsCategoryCreate";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}
<header>
    <h3>Thêm danh mục tin tức @if (Convert.ToInt32(ViewBag.NewsCategoryID) != 0)
                              {<a href="/quan-tri/cms/NewsCategoryEdit" class="btn btn-primary"><i class="icon-white icon-plus"></i> Thêm mới</a>}</h3>
</header>
<form method="post" class="form-horizontal" id="formdata">
    <div class="control-group">
        @if (ViewBag.Result != null)
        {
            <div class="alert alert-success fade in">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @Html.Raw(ViewBag.Result)
            </div>
        }
        <label class="control-label" for="inputEmail">Tên danh mục:</label>
        <div class="controls">
            @Html.Hidden("NewsCategoryID", Model.NewsCategoryID)
            @Html.TextBox("NewsCategoryName", Model.NewsCategoryName, new { @class = "input-xxlarge", id = "inputNewsCategoryName", placeholder = "Tên danh mục" })
            <span class="error">*</span>
            @Html.ValidationMessage("NewsCategoryName", "", new { @class = "help-inline" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPassword">Mô tả ngắn:</label>
        <div class="controls">
            @Html.TextArea("NewsCategoryShortName", Model.NewsCategoryShortName, new { @class = "input-xxlarge", id = "inputNewsCategoryShortName", placeholder = "Mô tả ngắn", rows = "3" })
        </div>
        <label class="control-label" for="inputPassword">Hiển thị:</label>
        <div class="controls">
            @Html.CheckBox("IsActived", Model.IsActived, new { id = "inputIsActived" })
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            @if (Convert.ToInt32(ViewBag.NewsCategoryID) == 0)
            {
                <button type="submit" class="btn btn-primary">Thêm mới</button>
                @Html.ActionLink("Quay về", "NewsCategoryList", "Cms", new { @class = "btn" })
            }
            else
            {
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                @Html.ActionLink("Quay về", "NewsCategoryList", "Cms", new { @class = "btn" })
            }
        </div>
    </div>
</form>
