@model List<genealogy.business.Base.GENDocumentDirectories>
<table style="color: Black; font-size: 10pt;" class="table  table-striped">
    <tbody>
        <tr>
            <td>Mã thư mục
            </td>
            <td>Thư mục
            </td>
            <td>Mô tả
            </td>
            <td>Hiển thị</td>
            <td></td>
        </tr>
        @if (Model != null && Model.Count > 0)
        {
            foreach (genealogy.business.Base.GENDocumentDirectories item in Model)
            {

                string strID = item.FolderID + "Item";
            <tr id="@strID">
                <td>@Html.ActionLink(item.FolderID.ToString(), "DocumentDirectoryEdit", new { id = item.FolderID }, new { @class = "a" })</td>
                <td>
                    @Html.ActionLink(item.FolderName, "DocumentDirectoryEdit", new { id = item.FolderName }, new { @class = "a" })
                </td>
                <td>
                    @item.FolderParentID
                </td>
                <td>@Html.CheckBoxFor(model => item.IsActived, new { disabled = "disabled" })</td>
                <td></td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">Không tìm thấy kết quả theo yêu cầu của bạn</td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.page != null)
{
    <script type="text/javascript">
        var CurrentPage = @ViewBag.CurrentPage;
        createPagingReport(Math.ceil(parseInt('@ViewBag.page') / 10), 'pagingReport');    
    </script>
}