@model genealogy.Models.UserModels
@{
    ViewBag.Title = "AccountInfo";
}
@if (string.IsNullOrEmpty(Model.FullName))
{
    using (Ajax.BeginForm("LoginForm", "Profile", null, new AjaxOptions() { OnBegin = "showMessPermission('Đang gửi thông tin ...');", OnSuccess = "successLogin" }))
    {
    <div class="box">
        <div class="box-heading">
            Đăng nhập
        </div>
        <div class="box-content">
             <span class="field-validation-error" id="loginError"></span>
              <br />
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
             <br />
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
             <br />
            
            <input type="submit" class="button" value="Đăng nhập" />
            <a class="forgot">Quên mật khẩu</a>
        </div>
    </div>
    <script>
        function successLogin(data) {
            if (data.Error == 1) {
                showMessPermission(data.Message);
                $('#loginError').text(data.Message);
            }
            else {
                window.location.reload();
            }
        }
    </script>
    }
}
else
{
    <div class="box">
        <div class="box-heading">
            Thông tin tài khoản
        </div>
        <div class="box-content">
            @if (Model.IsAdmin)
            {
                <p><a href="/quan-tri">Quản trị nội dung</a></p>
            }
            <p>

                <a class="username" href="/thong-tin-user">
                    @if (!string.IsNullOrEmpty(Model.Avatar))
                    {
                        <img width="50" src="@genealogy.business.DataHelper.GenImageAvatar(Model.UserID, Model.Avatar)"/>
                    }
                    else
                    {
                        <img width="50" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
                    }
                    <span>@Model.FullName  </span>
                    <br />
                    <span>@Convert.ToDateTime(Model.Birthday).ToString("dd/MM/yyyy")</span>
                    <div class="clr"></div>
                </a>

            </p>
            <p><a class="button" href="/dang-xuat"><span>Thoát</span></a></p>

        </div>
    </div>
}
<div class="clr"></div>
