@using genealogy.business;
@using genealogy.business.Base;
@using genealogy.business.Custom;
@{
    ViewBag.Title = "ProfileInfo";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}
@model genealogy.Models.UserModels
@if (Model != null)
{
    <div class="content-other">
        <div class="breadcrumb">
            <a href="#">Trang chủ</a><a href="#" class="active">Thông tin cá nhân</a>
        </div>
        <div class="danhsachthanhvien">
            <div class="info-left">
                @if (!string.IsNullOrEmpty(Model.Avatar))
                {
                    <img alt="@Model.FullName" src="@DataHelper.GenImageAvatar(Model.UserID, Model.Avatar)" />
                }
                else
                {
                    <img  alt="@Model.FullName" src="/Content/themes/images/no_avatar.jpg" />
                }
                <h3>Trần Đức Luận</h3>
            </div>
            <div class="info-right">
                <p>Tên đầy đủ : @Model.FullName</p>
                @if (!string.IsNullOrEmpty(Model.NickName))
                {
                    <p>Tên thường gọi: @Model.NickName</p>
                }
                <p>Giới tính: @(Model.Gender == 1 ? "Nam" : "Nữ")</p>
                <p>Ngày sinh: @Convert.ToDateTime(Model.Birthday).ToString("dd/MM/yyyy")</p>
                <p>Vị trí trong gia đình: con trưởng</p>

                <p>Tôn giáo: Thiên chúa giáo</p>

                <p>Nguyên quán: @Model.BirthPlace</p>
                <p>Địa chỉ hiện tại: @Model.CurrentPlace</p>
                <p>Nghề nghiệp: Kỹ sư</p>
                <form>
                    <table>
                        <tr>
                            @if (string.IsNullOrEmpty(Model.DeathDate))
                            {
                                <td>Còn sống &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="alive" name="life" checked="checked">
                                </td>
                                <td>Đã mất &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="died" name="life"></td>
                            }
                            else
                            {
                                <td>Còn sống &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="alive" name="life">
                                </td>
                                <td>Đã mất &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="died" name="life" checked="checked"></td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td>Ngày mất: </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Nơi an táng:</td>
                        </tr>
                        <tr>
                            <td class="last"></td>
                            <td class="last">Hưởng thọ:</td>
                        </tr>
                    </table>
                </form>
                <p><b>Thông tin gia đình: </b></p>

                <table class="family">
                    <tr>
                        <td>Họ tên bố:</td>
                        <td>Ngày sinh:</td>
                    </tr>
                    <tr>
                        <td>Họ tên mẹ:</td>
                        <td>Ngày sinh:</td>
                    </tr>
                    <tr>
                        <td colspan="2">Số anh chị anh trong nhà:
							......................................
                        </td>
                </table>

            </div>
        </div>
    </div>
}