@model genealogy.Models.NewsModels
@{
    ViewBag.Title = "NewsPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/Content/themes/cms/cms.css" type="text/css" />
<div class="breadcrumb">
    <a href="#">Trang chủ</a><a href="#" class="active">Đăng bài viết</a>
</div>
<div class="dangbaiviet">
    <form id="formdata" method="post" enctype="multipart/form-data">
        <p>Chọn chủ đề <span class="required">(*)</span></p>
        @Html.DropDownList("SelectCategory")
        <p class="required" id="pSelectCategory" style="display: none; color: #e80c4d;">Chọn danh mục tin</p>
        <p>Tên bài viết <span class="required">(*)</span></p>
        @Html.TextBox("NewsTitle", Model.NewsTitle)
        @Html.ValidationMessage("NewsTitle")
        <p>Trích dẫn <span class="required">(*)</span></p>
        @Html.TextArea("Description", Model.Description, new { cols = "30", rows = "8", style = "min-height:300px;" })
        @Html.ValidationMessage("Description")
        <p>Nội dung <span class="required">(*)</span></p>
        @Html.TextArea("NewsContent", Model.NewsContent, new { cols = "30", rows = "10", name = "NewsContent", id = "NewsContent", style = "min-height:500px;" })
        @Html.ValidationMessage("NewsContent")
        <p>Upload Thumbnail: </p>
        <input type="file" id="flupload" name="flupload" />
        <p class="required" id="pflupload" style="display: none; color: #e80c4d;"></p>
        <p>Nguồn tham khảo</p>
        @Html.TextBox("CreatedSource", Model.CreatedSource)
        @Html.ValidationMessage("CreatedSource")
        <p>Tác giả <span class="required">(*)</span></p>

        @Html.TextBox("CreatedAuthor", Model.CreatedAuthor)
        @Html.ValidationMessage("CreatedAuthor")
        <p>Email <span class="required">(*)</span></p>
        @Html.TextBox("CreatedEmail", Model.CreatedEmail)
        @Html.ValidationMessage("CreatedEmail")
        @*  <script>
            CKEDITOR.replace('editor1');
        </script>*@
        <br />
        <br />
        <button class="button" type="submit" onclick="return ValidateSubmitNews();"><span>Gửi bài</span></button>
    </form>
</div>
<script type="text/javascript">
    tinyMCE.init({
        // General options
        mode: "exact",
        elements: 'NewsContent,Description',
        theme: "advanced",
        width: 600,
        autoresize_min_height: 400,
        autoresize_max_height: 800,
        plugins: "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",
        // Theme options
        theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
        //theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons2: "cut,copy,paste,pasteword,pastetext, |,search,replace,|,bullist,numlist,|,indent,blockquote,|outdent,indent,undo,redo,|,link,unlink,anchor,image,cleanup,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true,

        // Example content CSS (should be your site CSS)
        //content_css: "/css/content.css",

        // Drop lists for link/image/media/template dialogs
        //template_external_list_url: "/lists/template_list.js",
        //external_link_list_url: "/lists/link_list.js",
        //external_image_list_url: "/lists/image_list.js",
        //media_external_list_url: "/lists/media_list.js",

        // Style formats
        style_formats: [
			{ title: 'Bold text', inline: 'b' },
			{ title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
			{ title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
			{ title: 'Example 1', inline: 'span', classes: 'example1' },
			{ title: 'Example 2', inline: 'span', classes: 'example2' },
			{ title: 'Table styles' },
			{ title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
        ],

        // Replace values for the template plugin
        template_replace_values: {
            username: "Some User",
            staffid: "991234"
        }
    });
</script>
