@model genealogy.Models.AlbumModels
@{
    ViewBag.Title = "AlbumEdit";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

<header>
    @if (Convert.ToInt32(ViewBag.AlbumID) == 0)
            {
                <h3>Thêm mới Album <a href="/quan-tri/cms/AlbumDetailList/@ViewBag.AlbumID" class="btn btn-primary"><i class="icon-white icon-plus"></i> Chi tiết album</a></h3>
            }
            else
            {
                <h3>Cập nhật Album <a href="/quan-tri/cms/AlbumDetailList/@ViewBag.AlbumID" class="btn btn-primary"><i class="icon-white icon-plus"></i> Chi tiết album</a></h3>
            }
</header>
<form method="post" class="form-horizontal" id="formdata">
    <div class="control-group">
        @if (ViewBag.Result != null)
        {
            <div class="alert alert-success fade in">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @Html.Raw(ViewBag.Result)
            </div>
        }
        <label class="control-label" for="inputEmail">Tên Album:</label>
        <div class="controls">
            @Html.Hidden("AlbumID", Model.AlbumID)
            @Html.TextBox("AlbumName", Model.AlbumName, new { @class = "input-xxlarge", id = "inputAlbumName", placeholder = "Tên Album" })

            <span class="error">*</span>
            @*@Html.ValidationMessage("NewsCategoryName", "", new { @class = "help-inline" })*@

        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">Hình ảnh:</label>
        <div class="controls">
            @Html.TextBox("AlbumImage", Model.AlbumImage, new { @class = "input-xxlarge", id = "inputAlbumImage", placeholder = "Hình ảnh" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">Hiển thị:</label>
    <div class="controls">
        @Html.CheckBox("IsActived", Model.IsActived, new { id = "inputIsActived" })
    </div>
    </div>
    <div class="control-group">
        <div class="controls">
            @if (Convert.ToInt32(ViewBag.AlbumID) == 0)
            {
                <button type="submit" class="btn btn-primary">Thêm mới</button>
                @Html.ActionLink("Quay về", "AlbumList", "Cms", new { @class = "btn" })
            }
            else
            {
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                @Html.ActionLink("Quay về", "AlbumList", "Cms", new { @class = "btn" })
            }
        </div>
    </div>
</form>
